html,
body {
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  object-fit: cover !important;
}

.v-application .primary--text {
  color: #a82514 !important;
  caret-color: #a82514 !important;
}
