html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* font-family: "DM Mono", monospace !important; */
  /* font-family: "Inter", sans-serif !important; */
}

body {
  /* font-family: "DM Mono", monospace !important; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  object-fit: cover !important;
}

.v-application .primary--text {
  color: #a82514 !important;
  caret-color: #a82514 !important;
}
.theme--light.v-tabs > .v-tabs-bar {
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.guides-bg {
  @apply bg-cover bg-no-repeat transition-all duration-1000 bg-center;
}
.about-bg {
  @apply bg-cover bg-no-repeat transition-all duration-1000 bg-center;
}

.v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)
  > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes)
  .v-slide-group__prev {
  display: none !important;
  visibility: hidden;
}
